<div>
  <div class="input-wrapper">
    <input type="text"
           [(ngModel)]="shelveName" placeholder="type shelve name..."
           (keydown.enter)="addShelve()">
    <button (click)="addShelve()"
            [disabled]="!shelveName?.length"
            [ngStyle]="{'opacity': !shelveName?.length ? .5 : 1}"
            class="submit-btn">
      Add Shelve
    </button>
  </div>
  <div class="list-wrapper">
    <h1 *ngIf="!data['shelves'].length">You Have No Book Shelves</h1>
    <ul>
      <li class="shelve"
          *ngFor="let shelve of data['shelves']; let i = index">
        <input type="text"
               [(ngModel)]="shelve.name"
               [readonly]="visibleIndex !== i"
               [class.read-only]="visibleIndex !== i ">
        <div class="btn-wrapper">
          <a routerLink="/book-shelve/{{shelve.id}}">Open</a>
          <button class="conf-btn" (click)="editShelve(shelve, i)">
            <img src="./assets/img/edit-solid.svg" alt="edit">
          </button>
          <button class="conf-btn" (click)="deleteShelve(shelve.id)">
            <img src="./assets/img/trash-solid.svg" alt="trash">
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
