<div>
  <div class="input-wrapper">
    <input type="text"
           [(ngModel)]="shelveName" placeholder="type shelve name..."
           (keydown.enter)="addShelve()">
    <button (click)="addShelve()" [disabled]="!shelveName?.length" class="btn">add</button>
  </div>
  <div class="list-wrapper">
    <ul>
      <li class="shelve"
          *ngFor="let shelve of data.shelves"
          routerLink="/book-shelve/{{shelve.id}}">
        <span>{{shelve.name}}</span>
        <button class="delete-btn" (click)="data.deleteShelve(shelve.id)">
          <img src="./assets/img/trash-solid.svg" alt="trash">
        </button>
      </li>
    </ul>
  </div>
</div>
