.list-wrapper {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .shelve {
      width: 200px;
      height: 200px;
      border: 1px solid #b5b3b3;
      border-radius: 5px;
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      background-color: #f3f2f2;
      input {
        text-align: center;
        &.read-only {
          background-color: transparent;
          border: none;
        }
      }
      &:hover {
        box-shadow: 1px 3px 12px -3px #808080a1;
        .btn-wrapper {
          display: flex;
        }
      }
    }
  }
  .btn-wrapper {
    position: absolute;
    bottom: 20px;
    justify-self: center;
    align-items: center;
    display: none;

  }
}
