<div class="container">
  <div class="input-wrapper">
    <input type="text"
           name="search-input"
           class="input-style"
           [(ngModel)]="searchValue"
           (input)="onSearchInputChange()"
           placeholder="Search books by Title, Author or ISBN">
  </div>
  <div>
    <h3 *ngIf="result && !result['books'].length">There is no any result</h3>
    <div class="book-wrapper" *ngIf="result">
      <app-book-card [bookCover]="book?.image"
                     [bookIsbn]="book?.isbn13"
                     [bookTitle]="book?.title"
                     *ngFor="let book of result['books'] | paginate:
        { itemsPerPage: 10, currentPage: currentPage, totalItems: result['total'] }; let i = index">
        <div class="add-book-wrapper">
          <button class="main-btn"
                  *ngIf="this.data?.shelves.length && filterShelves(book['isbn13']).length"
                  (click)="toggleBtn($event, dropDown)">
            Add to Shelf
          </button>
          <div *ngIf="this.data?.shelves.length && !filterShelves(book['isbn13']).length" class="main-btn white checked">
            <img src="../../../assets/img/check-solid.svg" alt="check">
          </div>
          <div class="dropdown" #dropDown [hidden]="true">
            <ul>
              <li *ngFor="let shelf of filterShelves(book['isbn13'])"
                  (click)="addBook(book, shelf, dropDown, $event)">
                {{shelf?.name}}
              </li>
            </ul>
          </div>
        </div>
      </app-book-card>
    </div>
    <div class="pagination" *ngIf="result && result['books'].length">
      <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#32b77a"
    type="pacman"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
</div>

