<div>
  <div class="input-wrapper">
    <form #bookForm>
      <input type="text" name="title" [(ngModel)]="title" placeholder="book title">
      <input type="text" name="name" [(ngModel)]="authorName" placeholder="author name">
      <input type="file" name="file" (change)="onFileChange($event)">
      <input type="text" name="isbn" [(ngModel)]="isbn" placeholder="ISBN">
    </form>
    <button (click)="addBook(bookForm)"
            [disabled]="!isFormValid()"
            [ngStyle]="{'opacity': !isFormValid()?.length ? .5 : 1}"
            class="submit-btn">
      add
    </button>
    <button (click)="goBack()" class="back-btn">Back</button>
  </div>
</div>
<div>
  <h1 *ngIf="!selectedShelve['books'].length">There is no books in this shelve</h1>
  <ul>
    <li class="book-wrapper" *ngFor="let book of selectedShelve?.books; let i = index">
      <div class="info-wrapper">
        <img src="{{book?.image}}" alt="book">
        <div class="book-info">
          <p>{{book?.title}}</p>
          <p>{{book?.name}}</p>
          <p>{{book?.isbn}}</p>
        </div>
      </div>
      <div class="btn-wrapper">
        <button class="conf-btn" (click)="deleteBook(selectedShelve?.books, i)">
          <img src="./assets/img/trash-solid.svg" alt="trash">
        </button>
      </div>
    </li>
  </ul>
</div>
