<div class="container">
  <div class="input-wrapper" [class.open]="isFormOpen">
    <form #bookForm class="form-wrapper">
      <input class="input-style" type="text" name="title" [(ngModel)]="bookTitle" placeholder="book title">
      <input class="input-style" type="text" name="name" [(ngModel)]="authorName" placeholder="author name">
      <input class="input-style" type="number" name="isbn" [(ngModel)]="isbn" placeholder="ISBN">
      <div class="file-input-wrapper">
        <input hidden type="file" name="file" id="imgUpload" #imgUpload (change)="onFileChange($event)">
        <label for="imgUpload" class="custom-file-upload">
          <img src="../../../../assets/img/paperclip-solid.svg" alt="attach">
          <span>{{imageName ? imageName : 'Choose Image'}}</span>
        </label>
      </div>
      <button (click)="addBook(bookForm)"
              [disabled]="!isFormValid()"
              [ngClass]="{'disabled': !isFormValid()?.length}"
              class="main-btn">
        submit
      </button>
    </form>
  </div>
  <div class="content-container" [ngStyle]="{'padding-top': isFormOpen? '95px' : '25px'}">
    <div class="content-header">
      <div class="shelf-title-wrapper">
        <input type="text"
               class="h1"
               #titleInput
               [(ngModel)]="selectedShelf.name"
               [readOnly]="!isEditActive"
               AutoSizeInput>
        <button class="edit-btn" (click)="editTitle(titleInput)">
          <img src="'../../../../assets/img/{{isEditActive? 'check-solid' : 'pen-solid'}}.svg" alt="">
        </button>
      </div>
      <button class="main-btn" (click)="isFormOpen = !isFormOpen">{{!isFormOpen? 'Add Books' : 'Close'}}</button>
    </div>
    <div class="content">
      <h3 *ngIf="selectedShelf && !selectedShelf['books'].length">There are no books in this shelf</h3>
      <app-book-card
        *ngFor="let book of selectedShelf['books']; let i = index"
        [bookTitle]="book?.title"
        [bookAuthor]="book?.name"
        [bookIsbn]="book?.isbn"
        [bookCover]="book?.image">
        <button class="main-btn white remove" (click)="deleteBook(selectedShelf,book, i, $event)">
          <img src="./assets/img/trash-solid.svg" alt="trash">
          <span>Remove</span>
        </button>
      </app-book-card>
    </div>
  </div>
</div>
