@import '~normalize.css';

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.input-wrapper {
  height: 70px;
  box-shadow: 0 3px 6px -3px #656565e8;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  input {
    height: 40px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    padding: 5px 10px;
  }
  .submit-btn {
    margin-left: 15px;
    max-width: 150px;
    width: 100%;
    background: #018bdc;
    padding: 11px;
    border-radius: 4px;
    color: #fff;
  }
}

.conf-btn {
  height: 17px;
  width: 17px;
  margin-left: 10px;
  img {
    height: 17px;
    width: 17px;
  }
}
h1 {
  text-align: center;
  font-size: 38px;
  margin-top: 100px;
}

ul {
  display: flex ;
  flex-wrap: wrap;
  .book-wrapper {
    display: flex;
    justify-content: space-between;
    border: 1px solid #0000003d;
    padding: 5px;
    border-radius: 4px;
    margin: 0 auto 20px;
    width: 45%;
    position: relative;
    .info-wrapper {
      display: flex;
      img {
        max-width: 67px;
        max-height: 100px;
      }
      .book-info {
        padding-left: 10px;
        p {
          font-size: 20px;
          margin-bottom: 5px;
        }
      }
    }
    .btn-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

.back-btn {
  background-color: #ffffff;
  color: #000;
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid #0000003d;
  border-radius: 5px;
  position: relative;
  height: 40px;
  line-height: 30px;
  margin-left: 40px;
  &::before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 1px;
    background-color: #0000003d;
    top: 0;
    left: -20px;
  }
}
