@import '~normalize.css';
@import "assets/variables/colors";

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.input-style {
  border-radius: 3px;
  border: 1px solid $light-grey;
  padding: 5px 10px;
  font-size: 15px;
  height: 30px;
  outline: none;
  background-color: #fff;
  &:focus {
    box-shadow: 0 0 10px rgba(130, 130, 130, 0.25);
  }
}

.file-input-wrapper {
  position: relative;
  input {
    position: absolute;
  }
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      font-size: 15px;
      color: $grey;
      white-space: nowrap;
      width: 110px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    img {
      margin-right: 5px;
      height: auto;
      width: 15px;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.main-btn {
  font-size: 14px;
  color: #fff;
  background: #32b77a;
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: 500;
  outline: none;
  transition: background-color 0.2s;
  &.white {
    color: $grey;
    background: #fff;
    border: 1px solid $light-grey;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  &:hover {
    background: #1f905c;
  }
  &.disabled {
    background: #32b77a;
    opacity: 0.5;
  }
}

.container {
  margin-left: 250px;
  position: relative;
}
